.button {
  @apply h-10 sm:h-12 cursor-pointer font-primary font-semibold sm:font-medium inline-flex uppercase duration-200 py-[14px] px-6 text-[14px] sm:text-[16px] leading-5 justify-center items-center;
}
/* primary button */
.button.primary {
  @apply text-white bg-primary duration-200 [&_svg]:stroke-white 
     hover:bg-transparent hover:text-primary
    active:bg-primary active:text-black 
    disabled:bg-grey5 disabled:text-white;
}

/* secondary button */
.button.secondary {
  @apply border border-white duration-200 [&_svg]:stroke-black text-white
    hover:bg-primary hover:brightness-150 hover:border-transparent 
    active:bg-primary active:text-white 
    disabled:bg-grey5 disabled:text-white disabled:border-grey5 [&_svg]:disabled:stroke-white;
}

/* button modifiers */
.button.sm {
  @apply h-8 p-[7px];
}

.button.md {
  @apply h-10 p-[11px];
}
.button.lg {
  @apply h-12 p-[15px];
}

.button.full {
  @apply py-2 w-full;
}

.button.circle {
  @apply rounded-full px-5;
}

.button svg {
  @apply first:mr-3 last:ml-3 only:mx-0;
}

/* text button */
.button.text {
  @apply duration-200 [&_svg]:stroke-black 
    hover:bg-grey6 
    active:bg-grey3 active:text-white 
    disabled:opacity-25;
}

/* link button */
.button.link {
  @apply relative px-0 pb-0 duration-200 [&_svg]:stroke-black [&_svg]:duration-200
    hover:text-grey3 [&_svg]:hover:stroke-grey3 
    active:opacity-25 
    disabled:opacity-25;
}

.button.link::after {
  @apply absolute content-[''] w-full h-[1px] bottom-[1px] left-0 bg-black hover:bg-grey3;
}

.button.link:hover::after {
  @apply bg-grey3 duration-200;
}

.button.link:active::after {
  @apply opacity-25 duration-200;
}

.button.link:hover svg {
  @apply stroke-grey3 duration-200;
}

/* action buttons */
/* circle */
.button.primary.circle {
  @apply hover:bg-grey3 active:opacity-10 active:border-none;
}

.button.secondary.circle {
  @apply hover:bg-black 
    active:bg-white active:border-grey4 
    disabled:hover:bg-white disabled:hover:border-black;
}

.button.secondary.circle:hover svg {
  @apply stroke-white;
}

.button.secondary.circle:hover:disabled svg {
  @apply stroke-black;
}

.button.secondary.circle:active svg {
  @apply stroke-grey4;
}
